@import '../abstracts/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

span {
    cursor: pointer;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: $midGrey;
}

li {
    list-style: none;
}