@import '../../assets/styles/abstracts/variables';
@import '../../assets/styles/main';

.city {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    padding: 25px;

    .cityHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h3 {
            font-size: 2rem;
        }

        p {
            font-size: 2rem;
            font-weight: 300;
            color: $midGrey;
        }
    }

    .imgWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 100%;
        margin: 50px 0;

        img {
            width: 80%;
            margin: 0 auto;
        }
    }

    .cityForecast {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;

        .cityForecast__info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 20px 0;
        }
    }
}