@import './variables';

body {
    font-family: $primaryFont;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    font-family: $primaryFont;
    letter-spacing: 0.1em;
}

p {
    font-family: $primaryFont;
    letter-spacing: 0.1em;
}