@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

/* Fonts */
$primaryFont: 'Kumbh Sans', sans-serif;

/* Colours */
$primaryBlue: #1f43c3;
$paleGrey: #f3f2f3;
$paleBlue: #e6ebf8;